body {
  margin: 0;
  font-family: 'Arial', sans-serif;
}

.section {
  padding: 50px 20px;
  text-align: center;
}

.footer {
  background: #0d0d0d;
  color:#fff;
  padding: 20px;
  text-align: center;
  font-size: 14px;
}
